.input_container {
  padding: 10px;
  width: 400px;
  border: 1.5px solid #fca21281;
  border-radius: 20px 20px 20px 0px;
  box-shadow: #fca2124b 0px 4px 12px;
  margin: 10px;
  display: flex;
}

.input {
  background-color: transparent !important ;
  color: #ffffff;
  background-color: #000 !important;
  width: 60%;
  margin-left: 10px;
  outline: none;
  border: none;
}

.icon_input {
  background-color: #fca21281 !important;
}
