.input_container {
  padding: 10px;
  width: 400px;
  border-radius: 19px;
  background-color: #fff !important;
  display: flex;
}

.input {
  background-color: transparent;
  color: black;
  width: 60%;
  margin-left: 10px;
  outline: none;
  border: none;
}

.input ::placeholder {
  color: black !important;
}
