.swiper_slider {
  height: 480px;
  width: 900px !important ;
  overflow: hidden;
  position: relative;
  margin: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}


.btn_text_swiper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  font-family: "Playfair Display", serif;
  font-size: x-large;
  color: rgb(0, 0, 0);
}
