.Page_desc_height {
  height: 110vh;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-left: 5%;
  margin-top: 50px;
}

.card_item_desc {
  font-family: "Playfair Display", serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.img_item_desc {
  height: 400px;
  width: 400px;
  border-radius: 30px 0px 30px 0px;
  object-fit: cover;
  margin-left: 100px;
  box-shadow: rgb(255, 255, 255) 0px 4px 12px;
}

.name_likes_part_item_desc {
  display: flex;
  font-size: 17px;
  font-weight: 500;
  justify-content: space-between !important ;
  align-items: center;
  margin-top: 30px;
  color: #ffff;
}

.likes_item_desc {
  margin-left: 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

.like_icon_desc {
  color: rgb(255, 255, 255) !important;
}

.icon_item_like_desc {
  margin-left: 200px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
}

.desc_item_desc {
  margin-top: 25px;
  font-size: 23px;
  font-weight: 400;
  color: #ffff;
}

.btn_item_desc {
  margin-top: 25px !important ;
}

.fav_icon_desc {
  color: #e7862b !important ;
}
