.card_product {
  height: 320px;
  width: 330px;
  border-radius: 10px;
  background-color: rgb(236, 236, 236);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  margin: 20px;
}

.card_product_img {
  height: 240px !important;
  width: 330px !important;
  border-radius: 10px 10px 0px 0px !important;
  object-fit: cover;
}

.card_product_desc {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  align-items: center;
  margin-top: 15px;
}

.card_product_name {
  color: #52cc57;
}

.card_product_price {
  color: #ffd130;
}
