.card_home_page {
  height: 310px;
  width: 300px;
  border-radius: 20px 20px 20px 20px;
  font-family: "Playfair Display", serif;
  background-color: transparent;
  box-shadow: #fca2123d 0px 4px 12px;
  margin: 20px;
  cursor: pointer;
}
.card_home_page:hover {
  height: 310px;
  width: 300px;
  border-radius: 20px 20px 20px 20px;
  font-family: "Playfair Display", serif;
  background-color: transparent;
  box-shadow: #fca21281 0px 4px 12px;
  margin: 20px;
  cursor: pointer;
}

.img_item_home_page {
  height: 230px !important;
  width: 300px !important;
  border-radius: 20px 20px 0px 0px;
  object-fit: cover;
}

.item_des_home_page {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0px 10px;
  margin-top: 18px;
}

.item_name_home_page {
  font-size: 17px;
  color: #ffff;

  font-family: "Playfair Display", serif;
}

.item_price_home_page {
  font-size: 16px;
  font-family: "Playfair Display", serif;
  margin-left: 20px;
  color: #fca212;
}
