.main-button {
  color: #fff !important;
  background-color: #fca212 !important;
  height: 40px;
  width: 280px;
  border-radius: 23px;
  outline: none;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  border: 1px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.main-button:hover {
  color: #ffff !important;
  outline: none;
  text-decoration: none;
  font-family: "Playfair Display", serif;
  border: 1.5px solid #000;
  cursor: pointer;
  font-size: 15px;
  font-weight: 400;
  border: 1px solid #000;
  transition: 1s ease-out !important;
  background-color: #a86800 !important;
}

.disabled_button {
  color: #ffff !important ;
  background-color: #fca212;
  height: 40px;
  width: 280px;
  border-radius: 23px;
  font-size: 15px;
  font-weight: 400;
  font-family: "Playfair Display", serif;
  outline: none;
  border: 1px solid #000000;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.common-button {
  color: #fff !important;
  height: 40px;
  width: 280px;
  border-radius: 23px;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Dancing Script", cursive;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
