.nav_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 65px;
  width: 100%;
  color: #fca212;
  background: rgb(2, 0, 36);
  /* background: linear-gradient(
    50deg,
    rgba(238, 174, 202, 0.753) 40%,
    rgba(148, 188, 233, 0.836) 35%,
    rgba(148, 188, 233, 0.836) 100%
  ); */
  background-color: #000;

  position: absolute;
  top: 0;
  font-family: "Playfair Display", serif;
}

.left_side {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 580px;
}

.logo_image_nav {
  height: 70px;
  width: 70px;
  object-fit: contain;
}

.logo_name_nav {
  font-size: 35px;
  font-family: "Dancing Script", cursive;
}

.ul_nav_par_page {
  list-style-type: none;
}

.li_nav_par_page {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #fca212;
  padding: 9px;
}
.link:hover {
  text-decoration: none;
  font-size: 24px;
  font-weight: 400;
  color: #fca212af;
  padding: 9px;
}

.stack_icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatar {
  font-size: 25px !important;
  font-weight: 400 !important;
  background-color: transparent !important;
  color: #fca212 !important;
  font-family: "Dancing Script", cursive !important;
}

/* 
font-family: 'Montagu Slab', serif;
font-family: 'Praise', cursive;
font-family: 'Dancing Script', cursive;
font-family: 'Roboto Condensed', sans-serif; */
