.footer {
  width: 90%;
  margin-left: 5%;
  height: 40px;
}

.footer_line {
  border: 0.5px solid rgb(26, 24, 24);
  margin-top: 20px;
}

.footer_sides {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.medal_footer {
  height: 80px;
  width: 100px;
  object-fit: contain;
}

.medal_footer {
  height: 50px;
  width: 80px;
  object-fit: contain;
  margin-top: 5px;
}

.copy_text {
  margin-left: 44%;
  margin-top: 10px;
}

.ul {
  list-style-type: none;
}

.li {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link_footer {
  text-decoration: none;
  margin: 10px;
  color: black;
  font-family: "Dancing Script", cursive;
  font-size: 30px;
}

.footer_avatar {
  font-size: 30px !important;
  background-color: transparent !important;
  margin: 30px;
  color: #000 !important;
  font-family: "Dancing Script", cursive !important;
}
