.footer_for_pages {
  width: 90%;
  margin-left: 5%;
  height: 40px;
  position: absolute;
}

.footer_line {
  border: 0.2px solid #fca212;
  margin-top: 20px;
}

.footer_sides {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.medal_footer {
  height: 70px;
  width: 80px;
  object-fit: contain;
  margin-top: 5px;
}

.copy_text {
  margin-left: 42.7%;
  margin-top: 10px;
  color: #fca212;
}

.ul_footer_page {
  list-style-type: none;
}

.li_footer_page {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.link_footer {
  text-decoration: none;
  margin: 10px;
  color: #fca212;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
}

.link_footer:hover {
  text-decoration: none;
  margin: 10px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
  font-weight: 400;
  color: #fca212b4;
}

.link_Logo_footer {
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
  color: #000;
  padding: 5px;
}
