.card_shipping_cart {
  height: 170px;
  width: 80%;
  margin-left: 10%;
  color: #fca212 !important;
  border-radius: 18px;
  background-color: #000000;
  font-family: "Playfair Display", serif;
}

.card_text_shipping_margin {
  margin-top: 5px !important;
}

.icon_text_shipping {
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 5px;
}

.name_card_shipping {
  margin-left: 5px;
  font-size: 13px !important;
}
