body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 200px;
}
.error_input_message {
  color: rgb(255, 81, 81);
  margin-top: -2px;
  margin-left: 20px;
  font-size: 13;
  border: 1px solid rgb(255, 81, 81);
  border-radius: 5px;
  padding: 4px;
  align-self: flex-start;
}

.full_page {
  width: 100%;
  margin-top: 80px;
}
